.github-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: solid;
}

.github-profile img {
    margin-right: 2rem;
    height: 100px;
}

.github-profile__info {
    display: flex;
    flex-direction: column;
    line-height: 8px;
}

.github-profile__info h1 {
    text-align: start;
}

.github-profile__info p {
    font-size: 20px;
    text-align: start;
}
